*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}

.login{

display:flex;
height:100vh;

}

.left{

width:58%;
background:white;

display:flex;
justify-content:center;
align-items:center;

}

.left img{

width:420px;

}

.right{

width:42%;

background:#0d8297;

display:flex;
justify-content:center;
align-items:center;

}

.box{

width:420px;

}

.box h1{

color:white;

font-size:60px;

margin-bottom:50px;

}

.links{

margin-top:30px;

display:flex;
flex-direction:column;
gap:15px;

align-items:center;

}

.links a{

color:white;

text-decoration:none;

font-size:22px;

font-weight:bold;

}

.erro-login {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 12px;

    background: #bd0f0fcc;
    color: #ff0000;

    border: 1px solid #ffb3b3;
    border-radius: 12px;

    font-size: 16px;
    text-align: center;

    box-sizing: border-box;
}